<div style="padding: 10px" [routerLink]="nextRoute">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ titleKey | translate }}</h5>
      <div class="ratio ratio-16x9">
        <video #video class="video-js"></video>
      </div>
      <div class="row" style="padding-top: 10px">
        <div class="col">
          <a class="btn btn-primary float-right">Continuer</a>
        </div>
      </div>
    </div>
  </div>
</div>
