/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing video.js CSS file. */
@import "~video.js/dist/video-js.css";

body, html {
  height: 100%;
  font-size: 1.5rem;
}
