<div [routerLink]="nextRoute" style="padding: 10px">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ titleKey | translate }}</h5>
      <div class="row">
        <div class="col-sm">
          <p>Choisis ton plumage et prépare-toi pour la parade.</p>
          <p>Quand tu es prêt, appuie sur le bouton...</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <a class="btn btn-primary float-right">Continuer</a>
        </div>
      </div>
    </div>
  </div>
</div>
