.center {
  /* The image used */
  background-image: url("/assets/images/center.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
}

.base {
  /* The image used */
  background-image: url("/assets/images/base.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
