<div [routerLink]="nextRoute" style="padding: 10px">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ titleKey | translate }}</h5>
      <div class="row">
        <div class="col-sm">
          <p><b>Opération séduction réussie:</b> ouvre le tiroir et découvre ton futur oisillon à couver!</p>
          <p>D’autres cousins se cachent dans les collections du musée.</p>
          <p>
            Pars à leur recherche pour agrandir ta parenté: dans l’Egypte ancienne, à la Renaissance ou chez les rites des Papous se cachent
            d’autres oiseaux merveilleux!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <a class="btn btn-primary float-right">Fin</a>
        </div>
      </div>
    </div>
  </div>
</div>
