<div class="row row-cols-1 row-cols-md-2 row-padding">
  <div *ngFor="let id of this.species.ids" class="col mb-4">
    <div class="card" [routerLink]="ProfilesComponent.nextRoute(id)">
      <img [src]="SpeciesService.photoUrl(id)" class="card-img-top" [alt]="SpeciesService.titleKey(id) | translate" />
      <div class="card-body">
        <h5 class="card-title">{{ SpeciesService.titleKey(id) | translate }}</h5>
      </div>
    </div>
  </div>
</div>
