<div style="padding: 10px" (click)="next()">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ titleKey | translate}}</h5>
      <div class="ratio ratio-16x9">
        <video #video class="video-js"></video>
      </div>
      <div class="row" style="padding-top: 10px">
        <div class="col">
          <a [routerLink]="matchRoute(true)" class="btn btn-secondary" style="margin-right: 10px">Match</a>
          <a [routerLink]="matchRoute(false)" class="btn btn-secondary">Loss</a>
          <a class="btn btn-primary float-right">Continuer</a>
        </div>
      </div>
    </div>
  </div>
</div>
