<div [routerLink]="nextRoute" style="padding: 10px">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ titleKey | translate }}</h5>
      <div class="row">
        <div class="col-sm">
          <p>
            <b>Malheureusement ton partenaire ne semble pas sensible à ta danse…</b>
          </p>
          <p>Peut-être n’es-tu pas fait pour être papa, mais papou!</p>
          <p>
            Pars à la recherche d’autres cousins à travers les collections du musée, et notamment d’une superbe parure de cérémonie papoue
            composée de plumes de paradisier.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <a class="btn btn-primary float-right">Fin</a>
        </div>
      </div>
    </div>
  </div>
</div>
