<div style="padding: 10px" [routerLink]="nextRoute">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ titleKey | translate }}</h5>
      <div class="row">
        <div class="col-sm">
          <img [src]="photoUrl" class="card-img-top" [alt]="titleKey | translate" />
        </div>
        <div class="col-sm">
          <p *ngFor="let item of contentKeys | translate">
            <b *ngIf="item.label">{{ item.label }}:</b><span [innerHTML]="' ' + item.text"></span>
          </p>
        </div>
      </div>
      <div class="row" style="padding-top: 10px">
        <div class="col">
          <a routerLink="/profiles" class="btn btn-secondary">Retour aux profils</a>
          <a class="btn btn-primary float-right">Continuer</a>
        </div>
      </div>
    </div>
  </div>
</div>
